@font-face {
  font-family: "Void";
  src: url('Regular.ttf');
}
 html {
background-image: url("wall.png")
}
p {
text-align: center;
font-family: Arial;
font-size: 25vw
}

.eh {
margin: auto;
width: 95vw;
background-color: #ffdad9;
border-radius: 25px;
padding: 10px 10px 10px 10px
}
