@font-face {
  font-family: "Void";
  src: url('Regular.ttf');
}
 html {
background-image: url("wall.png")
}
p {
text-align: center;
font-family: Void;
font-size: 24px
}

.eh {
margin: auto;
width: 500px;
background-color: #ffdad9;
border-radius: 25px;
padding: 10px 10px 10px 10px
}